<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-webapp"/>
        <listEntry value="archetypeVersion=1.4"/>
        <listEntry value="groupId=rest"/>
        <listEntry value="artifactId=springweb-rest"/>
        <listEntry value="version=1.0.0"/>
        <listEntry value="package=rest.springweb_rest"/>
        <listEntry value="outputDirectory=D:\drugs"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Swapnil\AppData\Local\Temp\m2e-archetypeGenerator2138514805420124917"/>
</launchConfiguration>
